# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
labDone/cmake-build-debug/Makefile
*.cbp
*.txt
*.marks
labDone/cmake-build-debug/CMakeFiles/Makefile2
*.cmake
*.make
*.rsp
*.internal
*.includecache
*.cxx
*.bin
*.log
*.check_cache
*.xml
*.iml
lab2plus3/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
lab2plus3/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
lab2plus3/cmake-build-debug/CMakeFiles/feature_tests.c
lab2plus3/cmake-build-debug/CMakeFiles/Makefile2
lab2plus3/cmake-build-debug/Makefile
labDone/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
labDone/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
labDone/cmake-build-debug/CMakeFiles/feature_tests.c
oop_lab1/.vs/oop_lab1ff/v15/.suo
*.db
*.ipch
*.ilk
*.pdb
*.tlog
*.idb
